<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <style>
        .err {
            color: red
        }
    </style>
</head>
<body>
<form th:object="${songInfoDto}" th:action="@{/create}" method="post" >
    <table>
        <tr>
            <td>Song name:</td>
            <td><input type="text" th:field="*{name}"></td>
            <td class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Artist:</td>
            <td><input type="text" th:field="*{artist}"></td>
            <td class="err" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></td>
        </tr>
        <tr>
            <td>Kind:</td>
            <td><input type="text" th:field="*{kind}"></td>
            <td class="err" th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}">Name Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>