<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song List</title>
    <style>
        body {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<a href="/create">Create new song</a><br>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<h1>Song list</h1>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-lg-12">
<table border="1" style="margin: 0 auto" class="border-primary">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Kind</th>
        <th>Edit</th>
    </tr>
    <th:block th:each="song : ${songList}">
        <tr>
            <td th:text="${song.id}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.artist}"></td>
            <td th:text="${song.kind}"></td>
            <td><a th:href="@{/edit/__${song.id}__ }">Edit</a></td>
        </tr>
    </th:block>
</table>
        </div>
    </div>
</div>
</body>
</html>