<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New blog</title>

</head>
<body>
<h1>Create new blog</h1>
<p>
    <a href="/blog/list">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/create}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{blogTitle}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td>
                <label>
                <textarea th:field="*{blogContent}" style="height: 200px; width: 500%"></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{blogAuthor}"/></td>
        </tr>
        <tr>
            <td>Catelogy:</td>
            <td>
                <select th:field="*{catelogy.catelogyId}">
                    <option th:each="item:${catelogyList}" th:text="${item.catelogyName}" th:value="${item.catelogyId}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>